<div class="booking-details">
<h3><%- booking.car.brand %><%- booking.car.model %></h3>
<img src="<%- booking.car.img %>" alt="" class="car-image">
<h4>Class: <%- booking.car.class %> </h4>
  <div class="icon-container">
    <div class="car-carousel-icons-inner-container"> <img src="/images/gears-black.png" alt="gear icon" class="car-carousel-icons"> <%- booking.car.gearbox %></div> 
    <div class="car-carousel-icons-inner-container">     <img src="/images/gas-station.png" alt="car door icon" class="car-carousel-icons"> <%- booking.car.fuel %> </div> 
    <div class="car-carousel-icons-inner-container"> <img src="/images/car-seat-black-full.png" alt="car seat icon" class="car-carousel-icons"> <%- booking.car.pax %></div>
    <div class="car-carousel-icons-inner-container">       <img src="/images/car-door-black-full.png" alt="gas pump icon" class="car-carousel-icons"> <%- booking.car.seats %></div>
    <div class="car-carousel-icons-inner-container">  <img src="/images/luggage-black-full.png" alt="luggage case icon" class="car-carousel-icons"> <%- booking.car.luggage %></div>
 
  </div>


<h4 class="title-date">Pickup: <%- booking.startDate%> </h4>
<h4 class="title-date"> Return: <%- booking.endDate%></h4>
<h4 class="title-price"> Total price: <%- booking.total %> € <small> * (<%- booking.car.ppd %>€/day)</small></h4>

<br>
<a class="button" href="/book/<%- booking._id %>/delete">Cancel</a>
<a class="button" href="/profile">back to profile</a>

</div>